*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    padding: 1.5rem;
}
.container h1{
    font-size: 2.5rem;
}
.login_box,.user_box,.filter_box,.sort_box{
    border: 2px solid black;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 8vw;
}
.right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#navbar{
    display: flex;
    justify-content: space-between;
}
.upper,.lower{
    display: flex; 
    justify-content: space-between;
    gap: 1rem;
  
}
.filter_box,.sort_box{
    width:8vw;
}
.search_box{
    position: relative;

}
#search_bar{
    padding: 1vh 3vh;
    border: 2px solid black;
}
.search_icon{
position: absolute;
top:10px;
left:10px;
}
.blog_container{
   
    display: grid;
    grid-template-columns:auto auto auto ;
    gap:2vw;
    padding: 1.5rem;
   min-height: 70vh;
    margin-top: 5vh;
}
.blog{
    border: 1px solid black;
    min-height: 20vh;
    padding: 2vh;
}
.blog h4{
    font-size:2rem;
    margin-bottom: 0.6vh;
}
.blog #blog_author_descp{
    font-size:1rem;
    margin-bottom: 0.9vh;
}
#excerpt{
    margin-top: 2.5vh;
    font-size: 1.4rem;
}
.footer{
   
    display:flex;
    justify-content: space-between;
    padding: 1vw 2vw;
    font-size: 1.6rem;
    margin-top: 2vh;
}
