*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    padding: 1.5rem;
}
.container h1{
    font-size: 2.5rem;
}
.login_box,.user_box,.filter_box,.sort_box{
    border: 2px solid black;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 8vw;
}
.right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#navbar{
    display: flex;
    justify-content: space-between;
}
.upper,.lower{
    display: flex; 
    justify-content: space-between;
    gap: 1rem;
  
}
.filter_box,.sort_box{
    width:8vw;
}
.search_box{
    position: relative;

}
#search_bar{
    padding: 1vh 3vh;
    border: 2px solid black;
}
.search_icon{
position: absolute;
top:10px;
left:10px;
}
.blog_container{
    display: grid;
    grid-template-columns:30% 30% 30%;
    gap:2vw;
    padding: 1.5rem;
    margin-top: 5vh;
}
.blog{
    border: 1px solid black;
    padding: 2vh;
}
.blog h4{
    font-size:2rem;
    margin-bottom: 0.6vh;
}
.blog #blog_author_descp{
    font-size:1rem;
    margin-bottom: 0.9vh;
}
#excerpt{
    margin-top: 2.5vh;
    font-size: 1.4rem;
}

.tag_container{
    /* border: 2px solid black; */
    padding: 1rem;
    text-align: center;
    margin-bottom:3vh;
}
.buttons{
    text-decoration: none;
    background-color:rgb(39, 39, 39);
    color: white;
    cursor: pointer;
    padding: 0.5vh 0.8vh;
}
.blog_author_descp{
font-size:1rem;
margin-bottom:2vh;
}
.excerpt{
              margin-top: 3vh;
              margin-bottom: 6vh;
              font-size: 1.6rem;
              font-style: italic;
}


.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
color:black;
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #ddd;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination a.disabled {
    pointer-events: none;
    color: #ddd;
    cursor: not-allowed;
}
.active a{
   background-color:black;
  color:white;
}
