<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
    <title>Create Blog</title>
    <link rel="stylesheet" href="css/CreatePost.css">
</head>
<body>

<nav id="navbar">
    <h1> <a href="/" style="text-decoration: none; color: black;">My Blog Application</a></h1>
    <div class="middle">
        <a th:href="@{/newpost}" >Create Post</a>
    </div>
    <div class="right">
        <div class="upper">
            <div class="search_box">
                <i class="fa-solid fa-magnifying-glass search_icon"></i>
                <input type="text" name="search" id="search_bar" placeholder="Search...">
            </div>
            <div class="user_box">
                vdas53073@gmail.com
            </div>
            <div class="login_box">
                Login
            </div>
        </div>
        <div class="lower">
            <div class="filter_box">Filter</div>
            <div class="sort_box">Sort</div>
        </div>
    </div>
</nav>



<form th:action="@{/createpost}" method="post" th:object="${post}">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" th:field="*{title}" required>

    <label for="excerpt">Excerpt:</label>
    <input type="text" id="excerpt" name="excerpt" th:field="*{excerpt}" required>

    <label for="content">Content:</label>
    <textarea id="content" name="content" th:field="*{content}" rows="6" required></textarea>

    <label for="author">Author:</label>
    <input type="text" id="author" name="author" th:field="*{author}" required>

    <label for="tags">Tags (comma-separated):</label>
    <input type="text" id="tags" name="tags" th:field="${tag.name}" required>

    <button type="submit">Create Post</button>
</form>
</body>
</html>