<!DOCTYPE html>
<html lang="en"  xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/Home.css">
</head>
<body>
   <div class="container">
        <nav id="navbar">
            <h1>My Blog Application</h1>
            <div class="right">
                <div class="upper">
                    <div class="search_box">
                        <i class="fa-solid fa-magnifying-glass search_icon"></i>
                        <input type="text" name="search" id="search_bar" placeholder="Search...">
                    </div>
                    <div class="user_box">
                        vdas53073@gmail.com
                    </div>
                    <div class="login_box">
                        Login
                    </div>
                </div>
                <div class="lower">
                        <div class="filter_box">Filter</div>
                        <div class="sort_box">Sort</div>
                </div>
            </div>
        </nav>
        <div class="blog_container" th:each="post : ${posts}">
            <div class="blog">
                <h4 class="blog_title" th:text="${post.title}"></h4>
                <small class="blog_author_descp" th:text="${post.author +','+post.createdAt}"></small>
                <p class="excerpt" th:text="${post.excerpt}"></p>
            </div>
        </div>

        <footer class="footer">
            <div id="prev">< &nbsp; Previous</div>
            <div id="next">Next &nbsp; ></div>
        </footer>
   </div>
</body>
</html>