<!DOCTYPE html>
<html lang="en"  xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/Home.css">
</head>
<body>
   <div class="container">
        <nav id="navbar">
            <h1>My Blog Application</h1>
            <div class="right">
                <div class="upper">
                    <div class="search_box">
                        <i class="fa-solid fa-magnifying-glass search_icon"></i>
                        <input type="text" name="search" id="search_bar" placeholder="Search...">
                    </div>
                    <div class="user_box">
                        vdas53073@gmail.com
                    </div>
                    <div class="login_box">
                        Login
                    </div>
                </div>
                <div class="lower">
                        <div class="filter_box">Filter</div>
                        <div class="sort_box">Sort</div>
                </div>
            </div>
        </nav>
        <div class="blog_container">
            <div class="blog">
                <h4 id="blog_title">Cricket: Dominace of BCCI</h4>
                <small id="blog_author_descp">
                    Vishal Das, 18/06/2023
                </small>
                <p id="excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. At nesciunt eaque cupiditate esse cum id illum a doloribus sapiente adipisci quod nam, neque delectus autem saepe distinctio temporibus mollitia soluta assumenda, pariatur ex quia voluptate. Ipsam quisquam atque fuga hic?</p>
            </div>

            <div class="blog">
                 <h4 id="blog_title">Cricket: Dominace of BCCI</h4>
                <small id="blog_author_descp">
                    Vishal Das, 18/06/2023
                </small>
                <p id="excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. At nesciunt eaque cupiditate esse cum id illum a doloribus sapiente adipisci quod nam, neque delectus autem saepe distinctio temporibus mollitia soluta assumenda, pariatur ex quia voluptate. Ipsam quisquam atque fuga hic?</p>
            </div>

            <div class="blog">
                 <h4 id="blog_title">Cricket: Dominace of BCCI</h4>
                <small id="blog_author_descp">
                    Vishal Das, 18/06/2023
                </small>
                <p id="excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. At nesciunt eaque cupiditate esse cum id illum a doloribus sapiente adipisci quod nam, neque delectus autem saepe distinctio temporibus mollitia soluta assumenda, pariatur ex quia voluptate. Ipsam quisquam atque fuga hic?</p>
            </div>

            <div class="blog">
                 <h4 id="blog_title">Cricket: Dominace of BCCI</h4>
                <small id="blog_author_descp">
                    Vishal Das, 18/06/2023
                </small>
                <p id="excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. At nesciunt eaque cupiditate esse cum id illum a doloribus sapiente adipisci quod nam, neque delectus autem saepe distinctio temporibus mollitia soluta assumenda, pariatur ex quia voluptate. Ipsam quisquam atque fuga hic?</p>
            </div>

            <div class="blog">
                 <h4 id="blog_title">Cricket: Dominace of BCCI</h4>
                <small id="blog_author_descp">
                    Vishal Das, 18/06/2023
                </small>
                <p id="excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. At nesciunt eaque cupiditate esse cum id illum a doloribus sapiente adipisci quod nam, neque delectus autem saepe distinctio temporibus mollitia soluta assumenda, pariatur ex quia voluptate. Ipsam quisquam atque fuga hic?</p>
            </div>

            <div class="blog">
                 <h4 id="blog_title">Cricket: Dominace of BCCI</h4>
                <small id="blog_author_descp">
                    Vishal Das, 18/06/2023
                </small>
                <p id="excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. At nesciunt eaque cupiditate esse cum id illum a doloribus sapiente adipisci quod nam, neque delectus autem saepe distinctio temporibus mollitia soluta assumenda, pariatur ex quia voluptate. Ipsam quisquam atque fuga hic?</p>
            </div>
        </div>
        <footer class="footer">
            <div id="prev">< &nbsp; Previous</div>
            <div id="next">Next &nbsp; ></div>
        </footer>
   </div>
</body>
</html>