<!DOCTYPE html>
<html lang="en"  xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/Home.css}">
</head>
<body>
<div class="container">
    <nav id="navbar">
        <h1> <a href="/" style="text-decoration: none; color: black;">My Blog Application</a></h1>
        <div class="middle">
            <a th:href="@{/newpost}" class="buttons">Create Post</a>
        </div>
        <div class="right">
            <div class="upper">
                <form th:action="@{'/page/' + ${currentPage}  }" class="search_box">
                    <input type="hidden" name="sortField" th:value="${sortField}">
                    <input type="hidden" name="sortDir" th:value="${sortDir}">
                    <input type="hidden" name="author_filter" th:value="${author_filter}">
                    <input type="hidden" name="tag_filter" th:value="${tag_filter}">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass search_icon"></i></button>
                    <input type="text" name="search" id="search_bar" placeholder="Search...">
                </form>
                <div class="user_box">
                    vdas53073@gmail.com
                </div>
                <div class="login_box">
                    Login
                </div>
            </div>
            <div class="lower">
                <form class="filter_box" th:action="@{'/page/' + ${currentPage}}" method="get">
                    <input type="hidden" name="sortField" th:value="${sortField}">
                    <input type="hidden" name="sortDir" th:value="${sortDir}">
                    <input type="text" name="author_filter"  placeholder="Author name..." class="filter_inputs">
                    <input type="text" name="tag_filter"  placeholder="Tags comma separated" class="filter_inputs">
                    <input type="hidden" name="search" th:value="${search}">
                    <button type="submit" class="buttons">Filter</button>
                </form>

                <div name="sort"  class="sort_box" >

                    <a th:href="@{'/page/' + ${currentPage} + '?sortField=title&sortDir=' + ${reverseSortDir}
                        + '&author_filter=' + ${author_filter}  + '&tag_filter=' + ${tag_filter} + '&search=' + ${search}}" >
                        Title</a>
                    <a th:href="@{'/page/' + ${currentPage} + '?sortField=author&sortDir=' + ${reverseSortDir}
                        + '&author_filter=' + ${author_filter} + '&tag_filter=' + ${tag_filter} + '&search=' + ${search}}" >
                        Author</a>
                    <a th:href="@{'/page/' + ${currentPage} + '?sortField=excerpt&sortDir=' + ${reverseSortDir}
                        + '&author_filter=' + ${author_filter} + '&tag_filter=' + ${tag_filter} + '&search=' + ${search}}" >
                        Excerpt</a>
                    <a th:href="@{'/page/' + ${currentPage} + '?sortField=publishedAt&sortDir=' + ${reverseSortDir}
                        + '&author_filter=' + ${author_filter} + '&tag_filter=' + ${tag_filter} + '&search=' + ${search}}" >
                        Published At</a>
                </div>

            </div>
        </div>
    </nav>
    <div class="blog_container" >
        <div class="blog" th:each="post : ${posts}">
            <h4 class="blog_title" th:text="${post.title}"></h4>
            <small class="blog_author_descp" th:text="${post.author +','+post.createdAt}"></small>
            <p class="excerpt" th:text="${post.excerpt}"></p>
            <div class="tag_container"  >
                <span th:each="tag : ${post.getTags()}">
                <span class="tag buttons" th:text="${tag.name}"></span>
                </span>
            </div>
            <a th:href="@{/post{postId}(postId=${post.id})}" class="buttons">Read More</a>
            <a th:href="@{/editpost{postId}(postId=${post.id})}" class="buttons">Edit</a>
            <a th:href="@{/deletepost{postId}(postId=${post.id})}" class="buttons">Delete</a>
        </div>
    </div>

    <div class="pagination" th:if="${totalPages > 1}">
        <li th:if="${currentPage != 1}" class="page_item"><a  class="page_link"  th:href="@{'/page/' + ${currentPage + 1}
            + '?sortField=' + ${sortField} '&sortDir=' + ${sortDir} + '&author_filter=' + ${author_filter} + '&tag_filter=' + ${tag_filter} + '&search=' + ${search}}" >Previous</a></li>

        <li th:classappend="${currentPage == i ? 'active' : ''}" th:each="i : ${#numbers.sequence(1,totalPages)}"
            class="page_item"><a class="page_link" th:href="@{'/page/' + ${i} + '?sortField=' + ${sortField}
            + '&sortDir=' + ${sortDir} + '&author_filter=' + ${author_filter} + '&tag_filter=' + ${tag_filter} + '&search=' + ${search}}" >
            <span th:text="${i}"></span></a></li>
        <li th:if="${currentPage < totalPages}" class="page_item">
            <a  class="page_link" th:href="@{'/page/' + ${currentPage + 1} + '?sortField='
             + ${sortField} '&sortDir=' + ${sortDir} + '&author_filter=' + ${author_filter} + '&tag_filter=' + ${tag_filter} + '&search=' + ${search}}"  >Next</a>
        </li>
    </div>

</div>
</body>
</html>